.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-header {
  text-align: center;
}

.external-link {
  color: white;
  text-decoration: underline !important;
}

.external-link:hover {
  text-decoration: none;
}

.external-link:active,
.external-link:link {
  color: white;
  text-decoration: none;
}